.projects {
    margin-bottom: 120px;
    padding: 0 40px;
}

.projects_title {
    color: rgb(214,191,154);
    font-size: 35px;
    margin-bottom: 40px;
}

.projects_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
}

